//META{"name":"Mutual_Servers_Server_Count","description":"Adds line number or server number to the left of servers in the mutual servers tab in user profiles","author":"maple","version":"1.0"}*//{}

.modal .guild:before {width:20px;padding:0 2px 0 4px;margin:-10px 6px -10px -20px;font-size:12px;line-height:50px;border-right:1px solid rgba(100,100,100,.2);}
.modal .guild:hover:before {background:linear-gradient(to right,rgba(190,190,190,.09) 23px,rgba(190,190,190,.02) 26px);}
.modal .guild:nth-child(1):before {content:"1";}
.modal .guild:nth-child(2):before {content:"2";}
.modal .guild:nth-child(3):before {content:"3";}
.modal .guild:nth-child(4):before {content:"4";}
.modal .guild:nth-child(5):before {content:"5";}
.modal .guild:nth-child(6):before {content:"6";}
.modal .guild:nth-child(7):before {content:"7";}
.modal .guild:nth-child(8):before {content:"8";}
.modal .guild:nth-child(9):before {content:"9";}
.modal .guild:nth-child(10):before {content:"10";}
.modal .guild:nth-child(11):before {content:"11";}
.modal .guild:nth-child(12):before {content:"12";}
.modal .guild:nth-child(13):before {content:"13";}
.modal .guild:nth-child(14):before {content:"14";}
.modal .guild:nth-child(15):before {content:"15";}
.modal .guild:nth-child(16):before {content:"16";}
.modal .guild:nth-child(17):before {content:"17";}
.modal .guild:nth-child(18):before {content:"18";}
.modal .guild:nth-child(19):before {content:"19";}
.modal .guild:nth-child(20):before {content:"20";}
.modal .guild:nth-child(21):before {content:"21";}
.modal .guild:nth-child(22):before {content:"22";}
.modal .guild:nth-child(23):before {content:"23";}
.modal .guild:nth-child(24):before {content:"24";}
.modal .guild:nth-child(25):before {content:"25";}
.modal .guild:nth-child(26):before {content:"26";}
.modal .guild:nth-child(27):before {content:"27";}
.modal .guild:nth-child(28):before {content:"28";}
.modal .guild:nth-child(29):before {content:"29";}
.modal .guild:nth-child(30):before {content:"30";}
.modal .guild:nth-child(31):before {content:"31";}
.modal .guild:nth-child(32):before {content:"32";}
.modal .guild:nth-child(33):before {content:"33";}
.modal .guild:nth-child(34):before {content:"34";}
.modal .guild:nth-child(35):before {content:"35";}
.modal .guild:nth-child(36):before {content:"36";}
.modal .guild:nth-child(37):before {content:"37";}
.modal .guild:nth-child(38):before {content:"38";}
.modal .guild:nth-child(39):before {content:"39";}
.modal .guild:nth-child(40):before {content:"40";}
.modal .guild:nth-child(41):before {content:"41";}
.modal .guild:nth-child(42):before {content:"42";}
.modal .guild:nth-child(43):before {content:"43";}
.modal .guild:nth-child(44):before {content:"44";}
.modal .guild:nth-child(45):before {content:"45";}
.modal .guild:nth-child(46):before {content:"46";}
.modal .guild:nth-child(47):before {content:"47";}
.modal .guild:nth-child(48):before {content:"48";}
.modal .guild:nth-child(49):before {content:"49";}
.modal .guild:nth-child(50):before {content:"50";}
.modal .guild:nth-child(51):before {content:"51";}
.modal .guild:nth-child(52):before {content:"52";}
.modal .guild:nth-child(53):before {content:"53";}
.modal .guild:nth-child(54):before {content:"54";}
.modal .guild:nth-child(55):before {content:"55";}
.modal .guild:nth-child(56):before {content:"56";}
.modal .guild:nth-child(57):before {content:"57";}
.modal .guild:nth-child(58):before {content:"58";}
.modal .guild:nth-child(59):before {content:"59";}
.modal .guild:nth-child(60):before {content:"60";}
.modal .guild:nth-child(61):before {content:"61";}
.modal .guild:nth-child(62):before {content:"62";}
.modal .guild:nth-child(63):before {content:"63";}
.modal .guild:nth-child(64):before {content:"64";}
.modal .guild:nth-child(65):before {content:"65";}
.modal .guild:nth-child(66):before {content:"66";}
.modal .guild:nth-child(67):before {content:"67";}
.modal .guild:nth-child(68):before {content:"68";}
.modal .guild:nth-child(69):before {content:"69";}
.modal .guild:nth-child(70):before {content:"70";}
.modal .guild:nth-child(71):before {content:"71";}
.modal .guild:nth-child(72):before {content:"72";}
.modal .guild:nth-child(73):before {content:"73";}
.modal .guild:nth-child(74):before {content:"74";}
.modal .guild:nth-child(75):before {content:"75";}
.modal .guild:nth-child(76):before {content:"76";}
.modal .guild:nth-child(77):before {content:"77";}
.modal .guild:nth-child(78):before {content:"78";}
.modal .guild:nth-child(79):before {content:"79";}
.modal .guild:nth-child(80):before {content:"80";}
.modal .guild:nth-child(81):before {content:"81";}
.modal .guild:nth-child(82):before {content:"82";}
.modal .guild:nth-child(83):before {content:"83";}
.modal .guild:nth-child(84):before {content:"84";}
.modal .guild:nth-child(85):before {content:"85";}
.modal .guild:nth-child(86):before {content:"86";}
.modal .guild:nth-child(87):before {content:"87";}
.modal .guild:nth-child(88):before {content:"88";}
.modal .guild:nth-child(89):before {content:"89";}
.modal .guild:nth-child(90):before {content:"90";}
.modal .guild:nth-child(91):before {content:"91";}
.modal .guild:nth-child(92):before {content:"92";}
.modal .guild:nth-child(93):before {content:"93";}
.modal .guild:nth-child(94):before {content:"94";}
.modal .guild:nth-child(95):before {content:"95";}
.modal .guild:nth-child(96):before {content:"96";}
.modal .guild:nth-child(97):before {content:"97";}
.modal .guild:nth-child(98):before {content:"98";}
.modal .guild:nth-child(99):before {content:"99";}
.modal .guild:nth-child(100):before {content:"100";}
